NET "CLK" LOC="T9";

NET "RESET" LOC="L14";

NET "POUT<0>" LOC="K12";
NET "POUT<1>" LOC="P14";
NET "POUT<2>" LOC="L12";
NET "POUT<3>" LOC="N14";
NET "POUT<4>" LOC="P13";
NET "POUT<5>" LOC="N12";
NET "POUT<6>" LOC="P12";
NET "POUT<7>" LOC="P11";
NET "POUT<8>" LOC="E14";
NET "POUT<9>" LOC="G13";
NET "POUT<10>" LOC="N15";
NET "POUT<11>" LOC="P15";
NET "POUT<12>" LOC="R16";
NET "POUT<13>" LOC="F13";
NET "POUT<14>" LOC="N16";
NET "POUT<15>" LOC="D14";

NET "PIN<0>" LOC="F12";
NET "PIN<1>" LOC="G12";
NET "PIN<2>" LOC="H14";
NET "PIN<3>" LOC="H13";
NET "PIN<4>" LOC="J14";
NET "PIN<5>" LOC="J13";
NET "PIN<6>" LOC="K14";
NET "PIN<7>" LOC="K13";
NET "PIN<8>" LOC="M13";
NET "PIN<9>" LOC="M14";
NET "PIN<10>" LOC="L13";
NET "PIN<11>" LOC="T13";
NET "PIN<12>" LOC="N10";
NET "PIN<13>" LOC="M15";
NET "PIN<14>" LOC="M16";
NET "PIN<15>" LOC="D9";

NET "HS" LOC="R9";
NET "VS" LOC="T10";
NET "R" LOC="R12";
NET "G" LOC="T12";
NET "B" LOC="R11";

NET "PS2C" LOC="M16";
NET "PS2D" LOC="M15";

NET "RXD" LOC="T13";
NET "TXD" LOC="R13";
